{% extends "flm::dialog-window.twig" %}

{% block content %}
    <video width="320" height="240" controls>
        <source src="{{ public_endpoint }}/{{ selectedTarget }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% endblock %}
{% block buttons %}
    <div class="aright buttons-list">
        <input type="button" class="flm-diag-cancel Button" value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
    </div>
{% endblock %}