{% extends "flm::dialog-window.twig" %}

{% block content %}
    {{ window.pathBrowser(basename(selectedTarget), 'File', "", "disabled readonly") }}

    <div style=" resize: both;
    overflow: auto; min-width: 480px;" id="flm-media-player" class="ratio ratio-16x9" >
        <video width="100%" height="auto" controls>
            <source src="{{ public_endpoint }}/{{ selectedTarget }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#flm-media-player video').on('enterpictureinpicture', function() {console.log('in pip mode');})
    </script>

{% endblock %}

{% block buttons %}

{% endblock %}