{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block heading %}
    <fieldset><legend>Video file:</legend>
        <div class="flm-diag-nav-path-screens-source" style="padding:4px;">{{ selectedTarget }}</div>
    </fieldset>
{% endblock %}

{% block content %}
{{ window.pathBrowser(selectedTarget, theUILang.flm_media_screens_file) }}

<fieldset><legend>Options:</legend>

    <label style="float: left;" for="flm-media-screenshots-type">Format:</label>
    <select name="flm-media-screenshots-type" id="flm-media-screenshots-type" >
 {#       <option>Screenshots (multiple files)</option> #}
        <option selected="selected" value="sheet">Screensheet (single file - mosaic)</option>
    </select>

    <div class="flm-media-screensheet-settings" style="">
    <legend>Screensheet Settings:</legend>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>Screens rows:</td>
            <td><input type="text" name="textfield" class="Textbox num1" id="flm-settings-opt-scrows" value="12"/></td>
        </tr>
        <tr>
            <td>Screens columns:</td>
            <td><input type="text" name="textfield" class="Textbox num1" id="flm-settings-opt-sccols" value="4"/></td>
        </tr>
        <tr>
            <td>Thumbnail width:</td>
            <td><input type="text" name="textfield" class="Textbox num1" id="flm-settings-opt-scwidth" value="130"/></td>
        </tr>
    </table>
    </div>
</fieldset>
{% endblock %}

{% block scripts %}
<script>
    (function (global) {
        var dialogs = flm.ui.getDialogs();
        var diagId = dialogs.getDialogId();
        var pathBrowser = dialogs.pathBrowserInput(diagId);
        var ext = 'jpg';

        var sheet_settings = $(".flm-media-screensheet-settings");

        var type = $("#flm-media-screenshots-type");
        var screen_rows = $("#flm-settings-opt-scrows");
        var screen_cols = $("#flm-settings-opt-sccols");
        var screen_width = $("#flm-settings-opt-scwidth");

        var updateFilePath = function (path, forceExtension = true) {
            let filePath = flm.utils.replaceFilePath(path.val(), path.data('previousValue'), ext, forceExtension ? ext : false);
            dialogs.updateTargetPath(diagId, filePath);
        };

        dialogs.onStart(function () {
            var source = $(".flm-diag-nav-path-screens-source").text();

            dialogs.disableStartButton();

            return type.val() === 'sheet'
                ? flm.media.doScreensheet(
                    source,
                    dialogs.getTargetPath(diagId),
                    {
                        rows: screen_rows.val(),
                        columns: screen_cols.val(),
                        width: screen_width.val()
                    }
                )
                : flm.media.doScreenshots(source, dialogs.getTargetPath(diagId));
        });

        dialogs.pathBrowserInput(diagId).change(function (event) {
            updateFilePath($(this));
        });

        type.change(function () {
            $(this).val() === 'sheet' && sheet_settings.show() || sheet_settings.hide();
        })

        updateFilePath(pathBrowser, true);

    })(window);
</script>
{% endblock %}

